@model IEnumerable<MyClinic.Models.ListOfSecretaryVM>
@using MyClinic.Models;

@{
    var secretary = new AddSecretaryVM();
    ViewBag.Title = "Secretaries List";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-lightblue">
                    <div class="card-head">
                        <header></header>
                        <div class="tools">
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group">
                                    <button id="addSecretary" class="btn btn-info">
                                        <span class="fa fa-user-plus"></span> New Secretary
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                            </div>
                        </div>
                        <br /><br />
                        <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="secretaries-data-table">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:45%">
                                        Full Name
                                    </th>
                                    <th style="width:45%">
                                        User Name
                                    </th>
                                    <th style="width:5%" class="center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_AddSecretary", secretary)

@section scripts{
    <script>
        var secretaryListVM;
        $(function () {
            secretaryListVM = {
                dt: null,
                init: function () {
                    dt = $('#secretaries-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                        "url": "@Url.Action("Get", "Secretary")"
                    },
                        "columns": [
                            {
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }, "searchable": false, "orderable": false

                            },
                        {
                            "data": "FullName",
                            render: function (data, type, item) {
                                return "<span class='lblName' data-secretaryid='" + item.UserId + "'>" + item.FullName + "</span>";
                            }, "searchable": true
                        },
                        {
                            "data": "UserName", "searchable": true

                        },
                        {
                            data: "UserId",
                            render: function (data) {
                                return "<button class='btn btn-sm btn-primary btnOpenForEdit' data-secretaryid='" + data + "'><span class='fa fa-pencil'></span></button>";
                            }, "searchable": false, "orderable": false
                        }
                    ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "order": [[1, "asc"]]

                    });
                }
            }
            secretaryListVM.init();
        });

        var saveData = function (parm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveSecretaryAsync", "Secretary")',
                data: parm,
                traditional: true,
                success: function (data) {
                    successSave(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var clear = function () {
            $('.input-form').val('');
            $('#hdn-id').val('');
            $('#EditTitle').html('Create New Secretary');
        }


        var successSave = function (result) {
            dt.draw(false);
            $('.modal').modal('hide');
            swal('Success', result, 'success')
        }

        var errorAjax = function () {
            alert("Data not Saved there is an error..");
        }

        $(document).ready(function () {
            $(document).on('click', '#addSecretary', function () {
                clear();
                $('.section-password').removeClass('hide-password');
                $('#EditModal').modal('show');
            });

            $(document).on('click', '.btnOpenForEdit', function () {
                var id = $(this).data("secretaryid");
                var Name = $(this).closest('tr').find('.lblName').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetSecretary", "Secretary")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#hdn-id').val(id);
                        $('#txtFullName').val(data.FullName);
                        $('#txtUserName').val(data.UserName);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#EditTitle').html('Edit Secretary: ' + Name);

                $('#EditModal').modal('show');
                $('.section-password').addClass('hide-password');
            });

            $('#btnSave').click(function () {
                if ($('#txtFullName').val() == '') {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                if ($('#txtUserName' ||
                    '#txtPassword' ||
                    '#txtConfirmPassword').val() == '') {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                var data = {
                    UserId: $('#hdn-id').val(),
                    FullName: $('#txtFullName').val(),
                    UserName: $('#txtUserName').val(),
                    Password: $('#txtPassword').val(),
                    ConfirmPassword: $('#txtConfirmPassword').val(),
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                };
                saveData(data);
            });

        });
    </script>
}

